<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/intj.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <!-- <script src="../js/underscore.min.js"></script> -->
    <script src="../js/underscore.js"></script>
    <script src="../js/epiceditor.min.js"></script>
    <script src="../js/intj.js"></script>
    <script src="../js/profile.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="block">
          <button class="btn primary spaced" id="follow"
                  type="submit">Follow!</button>
          <button class="btn primary spaced" id="unfollow"
                  type="submit">Stop Following!</button>
        </div>
        <div id="info"></div>
        <div id="feed"></div>
      </div>
    </div>
    <!--
        arguments
        
        user: { name: string, id: string }
        followed: [ { url: string, name: string }* ]
        followers: [ { url: string, name: string }* ]
        followedId: string
        followersId: string
      -->
    <textarea id="profile-tpl" class="template">
      <h2>My name:</h2><span><%= user.name %></span>
      <h2>My id:</h2><span><%= user.id %></span>
      <h2>Followers</h2>
      <div class="list-group" id="<%= followedId %>">
        <% _.each(followed, function(followed) { %>
        <a href="/profile/<%= followed.id %>" class="list-group-item"><%= followed.name %></a>
        <% }) %>
      </div>
      <h2>Followed</h2>
      <div class="list-group" id="<%= followerId %>">
        <% _.each(followers, function(follower) { %>
        <a href="/profile/<%= follower.id %>" class="list-group-item"><%= follower.name %></a>
        <% }) %>
      </div>
    </textarea>
    <!--
        arguments

        feeds: [ { url: string, title: string, active?: boolean } ]
        title: string,
        id: string
      -->
    <textarea id="feeds-tpl" class="template">
      <h2><%= title %></h2>
      <div class="list-group" id="<%= id %>">
        <% _.each(feeds, function (data) { %>
        <a href="<%- data.url %>" class="list-group-item<%= data.active ? 'active' : ''%>">
          <%= data.text %>
        </a>
        <% }) %>
      </div>
    </textarea>
  </body>
</html>
